<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row align-items-center">
      <div class="col-xs-6">
        <h2 class="no-margin"><b>Contacts</b></h2>
      </div>
      <div class="col-xs-6 text-right">
        <a class="btn btn-success" [routerLink]="'new'">New Contact</a>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <cms-contact-item
      *ngFor="let contactEl of contacts"
      [contact]="contactEl">
    </cms-contact-item>
  </div>
</div>
